@model List<Restorent_app.Models.RestaurantModel>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var restaurant in Model)
        {
            <li>
                <a asp-controller="Restaurant" asp-action="Details" asp-route-id="@restaurant.RestaurantId">
                    @restaurant.RestaurantName
                </a>
            </li>
        }
    </ul>
}
else
{
    @if (Model!=null){
        <p>No Data Found</p>
        
    }
}


