@{
    ViewData["Title"] = "Dashboard"; // Optional: set the title for the page
}

<h1>Dashboard</h1>
<p>This is the Dashboard view.</p>

<a asp-action="RegisterRestaurant" class="btn btn-secondary">Register Restaurant</a> <!-- Link to the Register Restaurant action -->
<button type="button" class="btn btn-primary">See Restaurant</button>
<button type="button" class="btn btn-success">Get My Restaurant List</button>
